<div class="chip-container d-flex align-items-center">
    <div class="chip active">All</div>
    <div class="chip">JavaScript</div>
    <div class="chip">Computer science</div>
    <div class="chip">Mixes</div>
    <div class="chip">Music</div>
    <div class="chip">Computer science</div>
    <div class="chip">Google Tech</div>
    <div class="chip">Facebook</div>
    <div class="chip">Web Application</div>
    <div class="chip">Node Js</div>
    <div class="chip">Web development</div>
    <div class="chip">Design</div>
    <div class="chip">QA</div>
    <div class="chip">SEO</div>
    <div class="chip">Front End Development</div>
    <div class="chip">Software Engineering</div>
    <div class="chip">Harvard</div>
    <div class="chip">New York</div>
    <div class="chip">Developer</div>
    <div class="chip">Mobile Design</div>
    <div class="chip">Interactive Template</div>
    <div class="chip">Analyst</div>
    <div class="chip">Angular Project</div>
    <div class="chip">AWS Project</div>
</div>