{% extends "base.html" %}

{% block content %}

{% include "sidebar.html" %}

<div class="page-content">
    {% include "chip.html" %}

    <div class="container-fluid p-5 py-3">
        <div class="row" style="margin-top: 60px">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <a href="#" class="card card-video border-0 bg-transparent mb-4">
                    <img src="/images/2-1.jpg" class="img-fluid" alt="">
                    <div class="card-video-details d-flex mt-2">
                        <div class="me-2">
                            <img src="/images/2-2.jpg" width="40" alt="">
                        </div>
                        <div>
                            <h4>Build simple web environment for html, css & javascript...</h4>
                            <div>CodeWithEase</div>
                            <div>10M views • 3 Months ago</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <a href="#" class="card card-video border-0 bg-transparent mb-4">
                    <img src="/images/1-1.jpg" class="img-fluid" alt="" />
                    <div class="card-video-details d-flex mt-2">
                        <div style="margin-right: 10px;">
                            <img src="/images/1-2.jpg" width="40" />
                        </div>
                        <div>
                            <h4>Build 15 JavaScript Projects - Vanilla JavaScript Course...</h4>
                            <div>freeCodeCamp.org</div>
                            <div>479k Views • 3 Months Ago</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <a href="#" class="card card-video border-0 bg-transparent mb-4">
                    <img src="/images/3-1.jpg" class="img-fluid" alt="" />
                    <div class="card-video-details d-flex mt-2">
                        <div style="margin-right: 10px;">
                            <img src="/images/3-2.jpg" width="40" />
                        </div>
                        <div>
                            <h4>Build a responsive sidebar navigation with HTML and CSS...</h4>
                            <div>CodeWithEase</div>
                            <div>10M Views • 3 Months Ago</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <a href="#" class="card card-video border-0 bg-transparent mb-4">
                    <img src="/images/3-1.jpg" class="img-fluid" alt="" />
                    <div class="card-video-details d-flex mt-2">
                        <div style="margin-right: 10px;">
                            <img src="/images/3-2.jpg" width="40" />
                        </div>
                        <div>
                            <h4>DON'T EVER GIVE UP - Elon Musk (Motivational Video)...</h4>
                            <div>Chispa Motivation</div>
                            <div>10M Views • 3 Months Ago</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <a href="#" class="card card-video border-0 bg-transparent mb-4">
                    <img src="/images/4-1.jpg" class="img-fluid" alt="" />
                    <div class="card-video-details d-flex mt-2">
                        <div style="margin-right: 10px;">
                            <img src="/images/4-2.jpg" width="40" />
                        </div>
                        <div>
                            <h4>Top 5 Programming Languages to Learn in 2021 | Best Programming...</h4>
                            <div>FutureCoders</div>
                            <div>10M Views • 3 Months Ago</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <a href="#" class="card card-video border-0 bg-transparent mb-4">
                    <img src="/images/5-1.jpg" class="img-fluid" alt="" />
                    <div class="card-video-details d-flex mt-2">
                        <div style="margin-right: 10px;">
                            <img src="/images/5-2.jpg" width="40" />
                        </div>
                        <div>
                            <h4>Bella Ciao Full Song | La Casa De Papel | Money Heist | Netflix India</h4>
                            <div>Netflix</div>
                            <div>10M Views • 3 Months Ago</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <a href="#" class="card card-video border-0 bg-transparent mb-4">
                    <img src="/images/6-1.jpg" class="img-fluid" alt="" />
                    <div class="card-video-details d-flex mt-2">
                        <div style="margin-right: 10px;">
                            <img src="/images/6-2.jpg" width="40" />
                        </div>
                        <div>
                            <h4>UI Design For Coders</h4>
                            <div>Traversy Media</div>
                            <div>10M Views • 3 Months Ago</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <a href="#" class="card card-video border-0 bg-transparent mb-4">
                    <img src="/images/2-1.jpg" class="img-fluid" alt="">
                    <div class="card-video-details d-flex mt-2">
                        <div class="me-2">
                            <img src="/images/2-2.jpg" width="40" alt="">
                        </div>
                        <div>
                            <h4>Build simple web environment for html, css & javascript...</h4>
                            <div>CodeWithEase</div>
                            <div>10M views • 3 Months ago</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <a href="#" class="card card-video border-0 bg-transparent mb-4">
                    <img src="/images/1-1.jpg" class="img-fluid" alt="" />
                    <div class="card-video-details d-flex mt-2">
                        <div style="margin-right: 10px;">
                            <img src="/images/1-2.jpg" width="40" />
                        </div>
                        <div>
                            <h4>Build 15 JavaScript Projects - Vanilla JavaScript Course...</h4>
                            <div>freeCodeCamp.org</div>
                            <div>479k Views • 3 Months Ago</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <a href="#" class="card card-video border-0 bg-transparent mb-4">
                    <img src="/images/3-1.jpg" class="img-fluid" alt="" />
                    <div class="card-video-details d-flex mt-2">
                        <div style="margin-right: 10px;">
                            <img src="/images/3-2.jpg" width="40" />
                        </div>
                        <div>
                            <h4>Build a responsive sidebar navigation with HTML and CSS...</h4>
                            <div>CodeWithEase</div>
                            <div>10M Views • 3 Months Ago</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <a href="#" class="card card-video border-0 bg-transparent mb-4">
                    <img src="/images/3-1.jpg" class="img-fluid" alt="" />
                    <div class="card-video-details d-flex mt-2">
                        <div style="margin-right: 10px;">
                            <img src="/images/3-2.jpg" width="40" />
                        </div>
                        <div>
                            <h4>DON'T EVER GIVE UP - Elon Musk (Motivational Video)...</h4>
                            <div>Chispa Motivation</div>
                            <div>10M Views • 3 Months Ago</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <a href="#" class="card card-video border-0 bg-transparent mb-4">
                    <img src="/images/4-1.jpg" class="img-fluid" alt="" />
                    <div class="card-video-details d-flex mt-2">
                        <div style="margin-right: 10px;">
                            <img src="/images/4-2.jpg" width="40" />
                        </div>
                        <div>
                            <h4>Top 5 Programming Languages to Learn in 2021 | Best Programming...</h4>
                            <div>FutureCoders</div>
                            <div>10M Views • 3 Months Ago</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <a href="#" class="card card-video border-0 bg-transparent mb-4">
                    <img src="/images/5-1.jpg" class="img-fluid" alt="" />
                    <div class="card-video-details d-flex mt-2">
                        <div style="margin-right: 10px;">
                            <img src="/images/5-2.jpg" width="40" />
                        </div>
                        <div>
                            <h4>Bella Ciao Full Song | La Casa De Papel | Money Heist | Netflix India</h4>
                            <div>Netflix</div>
                            <div>10M Views • 3 Months Ago</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <a href="#" class="card card-video border-0 bg-transparent mb-4">
                    <img src="/images/6-1.jpg" class="img-fluid" alt="" />
                    <div class="card-video-details d-flex mt-2">
                        <div style="margin-right: 10px;">
                            <img src="/images/6-2.jpg" width="40" />
                        </div>
                        <div>
                            <h4>UI Design For Coders</h4>
                            <div>Traversy Media</div>
                            <div>10M Views • 3 Months Ago</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>

{% endblock %}
